@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7 .side {
  width: 225px;
}

.q7--float .side {
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
  font-size: 16px;
}

.q7--float .side:first-child {
  margin-left: 0;
}


/* Q7-2tableでの横並び */

.q7--table .sec {
  display: table;
}

.q7--table .side {
  padding-left: 50px;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}

.q7--table .side:first-child {
  padding-left: 0;
}


/* Q7-3 inline-blockでの横並び */

.q7--inlineblock .sec {
  font-size: 0;
}

.q7--inlineblock .side {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 50px;
  vertical-align: middle;
  font-size: 16px;
}

.q7--inlineblock .side:first-child {
  margin-left: 0;
}


/* Q7-4 flexでの横並び */

.q7--flex .sec {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7--flex .side {
  box-sizing: border-box;
  font-size: 16px;
}


/* Q7-5 inline-blockとmarginでの横並び */

.q7--margin .left {
  vertical-align: top;
}

.q7--margin .dummy {
  font-size: 16px;
}

.q7--margin .q7__box.left {
  display: inline-block;
  width: 300px;
}

.q7--margin .q7__box.right {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
}

.q7--margin .q7__inner {
  font-size: 0;
}

/* 回答はここに書いてね */
