@charset "UTF-8";

/* 回答はここに書いてね */

.q5 {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #ecf1f2;
}

.q5_box {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  position: absolute;
}

.q5_box.pink {
  z-index: 1;
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
}

.q5_box.blue {
  z-index: 2;
  background-color: #7084de;
  top: 120px;
  right: 120px;
}

.q5_box.gray {
  z-index: 3;
  background-color: #d0ecea;
  top: 200px;
  right: 40px;
}

.q5_box.brown {
  z-index: 4;
  background-color: #8b7a5b;
  bottom: 120px;
  right: 120px;
}

.q5_box.green {
  z-index: 5;
  background-color: #9fd6d2;
  bottom: 40px;
  left: 200px;
}

.q5_box.white {
  z-index: 6;
  background-color: #fffee4;
  bottom: 120px;
  left: 120px;
}

.q5_box.orange {
  z-index: 7;
  background-color: #deae70;
  top: 200px;
  left: 40px;
}

.q5_box.red {
  z-index: 8;
  background-color: #de70cf;
  top: 120px;
  left: 120px;
}

.q5_box.red::after {
  content: "";
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
}

.q5_box.navy {
  z-index: 10;
  top: 10px;
  left: 10px;
  background-color: #2b69a3;
  position: fixed;
}

/* 回答はここに書いてね */
